/* @import '~@upvalueio/arche/index.scss'; */

body {
  font-family: 'Inter UI', sans-serif;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#rootview {
  flex: 1 1 auto;
  background-color: --a-light-gray5;
}

