// spacing.scss - padding and margins

$space-0: 0rem !default;
$space-1: 4px !default;
$space-2: 8px !default;
$space-3: 16px !default;
$space-4: 32px !default;
$space-5: 64px !default;

$spaces: (
  0: $space-0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5
);

$types: (('p', 'padding'), ('m', 'margin'));
$directions: (('l', ('left')), ('t', ('top')), ('r', ('right')), ('b', ('bottom')), ('x', ('left', 'right')), ('y', ('top', 'bottom')));

@each $type in $types {
  $typeabbrev: nth($type, 1);
  $typefield: nth($type, 2);

  @for $i from 0 to 6 {
    .a-#{$typeabbrev}#{$i} {
      #{$typefield}: map-get($spaces, $i);
    }

    @each $direction in $directions {
      $abbrev: nth($direction, 1);
      $fields: nth($direction, 2);
        .a-#{$typeabbrev}#{$abbrev}#{$i} {
          @each $field in $fields {
            #{$typefield}-#{$field}: map-get($spaces, $i);
          }
        }
      }
  }
}
