@import "./styles/defs/_colors.scss";

// hover, active, normal
$intent-map: (
  'primary': ($primary2, $primary1, $primary),
  'secondary': ($secondary2, $secondary1, $secondary),
  'warning': ($warning2, $warning1, $warning),
  'danger': ($danger2, $danger1, $danger)
) !default;

.button {
  border-radius: 2px;
  // Covered by added classes
  background-color: $light-gray5;
  background-image: linear-gradient(to bottom, rgba($white, 0.8), rgba($white, 0));
  border: 0;
  cursor: pointer;
  font-size: 14px;

  box-shadow:
    inset 0 0 0 1px rgba($black, .2),
    inset 0 -1px 0 rgba($black, .2);

  &:hover {
    background-color: $light-gray4;
  }

  &:active {
    background-color: $light-gray2;
    border: 0;
    box-shadow:
      inset 0 0 0 1px rgba($black, .2),
      inset 0 1px 1px rgba($black, .2);
  }

  &:focus {
    outline: 0;
  }
}

@each $intent, $pair in $intent-map {
  $color: nth($pair, 3);
  $activeColor: nth($pair, 2);
  $hoverColor: nth($pair, 1);
  .button.#{$intent} {
    background-image: linear-gradient(to bottom, rgba($white, 0.1), rgba($white, 0));
    background-color: $color;
    color: $white;
    &:hover {
      background-color: $hoverColor;
    }
    &:active {
      background-color: $activeColor;
    }
  }
}

.button.minimal {
  background: none;
  box-shadow: none;

  &:hover {
    background-color: rgba($gray4, 0.3);
  }

  &:active {
    background-color: rgba($gray2, 0.3);
  }
}